$secondary: #000080;

.todo-item {
	background: #f4f4f4;
	padding: 10px;
	border-bottom: 1px #ccc dotted;
	text-decoration: none;
}

.completed {
	text-decoration: line-through;
}

.incomplete {
	text-decoration: none;
}

.del {
	background: #ff0000;
	color: #fff;
	border: none;
	padding: 5px 9px;
	border-radius: 50%;
	cursor: pointer;
	float: right !important;
	margin-top: -25px !important;
}

.badge {
	background: $secondary;
	color: #fff;
}
