@import url('https://fonts.googleapis.com/css?family=Courgette|Lobster+Two|Poppins|Special+Elite');

$primary: #80ffff;
$secondary: #000080;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Special Elite', sans-serif;
	line-height: 1.4;
}

.container {
	padding: 0 1rem;
}

.btn {
	display: inline-block;
	border: none;
	background: $secondary;
	color: #fff;
	padding: 7px 20px;
	cursor: pointer;
	font-family: 'Special Elite', sans-serif !important;
	&:hover {
		background: $primary;
		color: #fff;
	}
}
